<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add New Product</title>
<!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" th:href="@{'/products'}" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:href="@{'/logout'}">Logout</a>
  </li>
</ul>

<div align="center" class="container">
<h1>Add New Product</h1>
<br>
<form action="#" th:action="@{/save}" th:object="${product}" method="post">
<table class="table">

<tr>
<td>Product Name:</td>
<td><input type="text" th:field="*{productName}"/></td>
</tr>
<tr>
<td>Description:</td>
<td><input type="text" th:field="*{description}"/></td>
</tr>
<tr>
<td>User:</td>
<td><input type="text" th:field="*{user}"/></td>
</tr>
<tr>
<td>Price:</td>
<td><input type="text" th:field="*{price}"/></td>
</tr>
<tr>
<td>Return Policy:</td>
<td><input type="text" th:field="*{returnPolicy}"/></td>
</tr>
<tr>
<td>Warranty:</td>
<td><input type="text" th:field="*{warranty}"/></td>
</tr>
<tr>
<td>Quantity:</td>
<td><input type="text" th:field="*{quantity}"/></td>
</tr>
<!-- <tr>
<td>Status:</td>
<td><input type="text" th:field="*{status}"/></td>
</tr> -->
<tr>
<td>Category:</td>
<td><input type="text" th:field="*{category}"/></td>
</tr>
<tr>
<td colspan="2">
<button type="submit" class="btn btn-primary">Save</button>
</td>
</tr>

</table>
</form>
</div>
</body>
</html>