<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Seller Products</title>
<!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" th:href="@{'/products'}" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:href="@{'/logout'}">Logout</a>
  </li>
 </ul>
<h1>
Product Manager
</h1>
<a href="/newproduct">Add New Product</a>
<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>Product Id</th>
			<th>Product Name</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<tr th:each="products : ${listProducts}">
	<td th:text="${products.productId}"></td>
	<td th:text="${products.productName}"></td>
	<td th:text="${products.description}"></td>
	<td th:text="${products.quantity}"> </td>
	<td th:text="${products.price}"></td>
	<td>
	<a th:href="@{'/edit/'+${products.productId}}">Edit</a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a th:href="@{'/delete/'+${products.productId}}">Delete</a>
	</td>
	</tr>
	</tbody>
</table>
</body>
</html>